* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-post {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid grey;
  border-radius: 0.5rem;
}
.box-post h2 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 84px;
  text-align: center;
}
button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  outline-color: #0d6efd;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
